# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio temp files
Debug
Release
*.idb
*.pdb
*.pch
*.obj
*.aps
*.ncb
*.suo
*.user
*.htm
*.manifest
*.dep
